@using Library.Models
@model IEnumerable<LibraryRecords>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>List</title>
    </head>
    <body>
        <h1>@ViewBag.LibClients</h1>
        @{
            foreach (var book in Model)
            {
                <div>
                    <h2>Наименование книги : @book.Book</h2>
                </div>
            }
        }
    </body>
</html>
